/*Criação da Media Query*/
h1{
    color: red;
}

@media screen and (max-width: 500px) {
    h1{
        color: blue;
    }
}
 /*MIN-WIDTH*/

 p{
    background-color: black;
    color: white;
 }

 @media screen and (min-width: 800px) {
    p{
        background-color: white;
        color: black;
     }
 }